@charset "UTF-8";
/*Импорт секции payment*/
* {
  box-sizing: border-box;
}

.hero-text {
  color: #1C1C21;
  font-family: "Muller";
  font-style: normal;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .hero-text {
    order: 2;
    padding-top: 20px;
  }
}
@media (max-width: 576px) {
  .hero-text__title {
    font-size: 28px;
  }
}
.hero-text__subtitle {
  margin-top: 34px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  opacity: 0.8;
}
@media (max-width: 576px) {
  .hero-text__subtitle {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 21px;
  }
}
.hero-img {
  flex-basis: 50%;
}
.hero-img__shutter {
  max-width: 100%;
}

.advantage {
  font-family: "Muller";
  color: #1C1C21;
}
.advantage-card {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 63px;
  min-height: 356px;
}
@media (max-width: 991px) {
  .advantage-card {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .advantage-card {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.advantage-card__01 {
  background: linear-gradient(280.26deg, #F9F9F9 0%, rgba(249, 249, 249, 0) 100%);
}
.advantage-card__04 {
  background: linear-gradient(99.12deg, #F9F9F9 0.5%, rgba(249, 249, 249, 0) 100%);
}
.advantage__number {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 140%;
  color: #E9E9E9;
  position: relative;
}
.advantage__number::before {
  content: url("../img/burst.png");
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -3%;
  top: -8px;
}
.advantage__title {
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
}
@media (max-width: 576px) {
  .advantage__title {
    font-size: 21px;
  }
}
.advantage__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.8;
}
@media (max-width: 576px) {
  .advantage__text {
    font-size: 17px;
  }
}

.insert-block {
  background-image: url(" ../img/insert-bg.png");
  padding-left: 100px;
  padding-top: 90px;
  padding-bottom: 90px;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .insert-block {
    padding-left: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
.insert-block__title {
  font-family: "Muller";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}
@media (max-width: 576px) {
  .insert-block__title {
    font-size: 28px;
  }
}
.insert-block__text {
  padding-top: 29px;
  max-width: 460px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.button-main {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  background: #900B7B;
}
.button-main__transparently {
  background: transparent;
  border: 1px solid #ffffff;
  margin-left: 50px;
  padding-left: 130px;
  padding-right: 160px;
  position: relative;
}
.button-main__transparently::after {
  content: url("../img/arrow-1.png");
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10%;
  top: 37%;
}
@media (max-width: 576px) {
  .button-main__transparently {
    padding-right: 130px;
  }
}

.offers {
  padding-top: 130px;
  color: #1C1C21;
  font-family: "Muller";
  font-style: normal;
}
@media (max-width: 576px) {
  .offers {
    padding-top: 60px;
  }
}
.offers__title {
  padding-left: 100px;
  font-weight: 500;
  font-size: 38px;
  line-height: 135%;
}
@media (max-width: 991px) {
  .offers__title {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .offers__title {
    font-size: 28px;
  }
}
.offers__text {
  padding-left: 100px;
  padding-top: 14px;
  padding-bottom: 80px;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  opacity: 0.8;
}
@media (max-width: 991px) {
  .offers__text {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .offers__text {
    font-size: 22px;
    padding-bottom: 40px;
  }
}
.offers__img {
  padding-left: 100px;
}
@media (max-width: 991px) {
  .offers__img {
    padding-left: 10px;
    display: none;
  }
}

.tab-content {
  font-family: "Muller";
  font-style: normal;
  color: #1C1C21;
}
.tab-content__img {
  padding-top: 77px;
}
.tab-content__title {
  padding-top: 29px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
}
.tab-content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.8;
  max-width: 600px;
}

.mirror {
  padding-top: 110px;
  font-family: "Muller";
  font-style: normal;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #D9D9D9 100%);
}
@media (max-width: 991px) {
  .mirror {
    padding-top: 50px;
  }
}
.mirror__img {
  padding-left: 100px;
}
@media (max-width: 991px) {
  .mirror__img {
    padding-left: 10px;
  }
}
.mirror-info {
  max-width: 1260px;
  padding-left: 100px;
}
@media (max-width: 991px) {
  .mirror-info {
    padding-left: 10px;
  }
}
.mirror-info .col-lg-4 {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #900B7B;
  border-top-right-radius: 100px;
  color: #FFFFFF;
}
.mirror-info .col-lg-2 {
  padding-top: 46px;
  background: #ffffff;
  border-right: 1px solid #E7E7E7;
  color: #1C1C21;
}
.mirror__dates {
  padding-left: 67px;
  font-weight: 700;
  font-size: 32px;
  line-height: 135%;
}
.mirror__text {
  padding-left: 67px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
}
.mirror__numbers {
  padding-left: 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}
.mirror__step {
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.project-filter__title {
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 135%;
  color: #1C1C21;
  padding-top: 130px;
  padding-bottom: 33px;
  padding-left: 100px;
}
@media (max-width: 991px) {
  .project-filter__title {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .project-filter__title {
    padding-top: 60px;
    font-size: 28px;
  }
}
.project-filter__btn-group {
  display: flex;
  justify-content: space-between;
  max-width: 1260px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1em;
  padding-left: 100px;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .project-filter__btn-group {
    padding-left: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.project-filter__btn-first {
  background: #900B7B;
  border: none;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 21px;
  padding-bottom: 21px;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .project-filter__btn-first {
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
.project-filter__btn-second {
  border: none;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-left: 10px;
  margin-right: 10px;
  color: #1C1C21;
  background: #F3F3F3;
}
.project-filter__btn-second:active {
  background: #900B7B;
  color: #FFFFFF;
}
.project-filter__btn-second:hover {
  background: #900B7B;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .project-filter__btn-second {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
.project-filter__btn-last {
  color: #1C1C21;
  background: #F3F3F3;
  padding-left: 34px;
  padding-right: 34px;
  border: none;
  padding-top: 21px;
  padding-bottom: 21px;
}
.project-filter__btn-last:active {
  background: #900B7B;
  color: #FFFFFF;
}
.project-filter__btn-last:hover {
  background: #900B7B;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .project-filter__btn-last {
    margin-bottom: 10px;
    margin-left: 0;
  }
}
.project-filter__gallery {
  max-width: 1300px;
  padding-left: 100px;
}
@media (max-width: 991px) {
  .project-filter__gallery {
    padding-left: 10px;
  }
}

.border-ff {
  border-right: 15px solid #ffffff;
}

.row.slim {
  margin-left: 0;
  margin-right: 0;
}

.row.slim > [class^=col-], .slim > [class*=" col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.project-filter__gallery.row.slim.pb-3.col-lg-4 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

/*ОТЗЫВЫ*/
.review {
  font-family: "Muller";
  font-style: normal;
  color: #1C1C21;
  background: #F9F9F9;
  padding-top: 100px;
}
@media (max-width: 991px) {
  .review {
    padding-top: 40px;
  }
}
.review__text {
  padding-left: 100px;
  font-weight: 500;
  font-size: 38px;
  line-height: 135%;
}
@media (max-width: 991px) {
  .review__text {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .review__text {
    font-size: 28px;
  }
}
.review__numeral {
  padding-right: 20px;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  opacity: 0.8;
}
.review__yandeks {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.review__card {
  margin-left: 100px;
  padding-top: 50px;
  padding-left: 60px;
  border-top-right-radius: 178px;
  border-bottom-left-radius: 178px;
  background: #FFFFFF;
  max-width: 860px;
}
@media (max-width: 991px) {
  .review__card {
    padding-left: 10px;
    margin-left: 10px;
  }
}
.review-wrapper-text {
  padding-left: 30px;
}
.review-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  padding-bottom: 26px;
  padding-right: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
@media (max-width: 991px) {
  .review-text {
    padding-right: 50px;
  }
}
.review-text__svg {
  height: 51px;
}
.review-text__wrappper {
  padding-top: 30px;
}
.review__watch-all {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1em;
  background: transparent;
  border: none;
  padding-bottom: 76px;
}
.review-avatar {
  padding-right: 200px;
}
@media (max-width: 991px) {
  .review-avatar {
    padding-right: 70px;
  }
}
.review-avatar__foto {
  padding-right: 30px;
}
.review-avatar__status {
  padding-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.5;
}
.review-avatar__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.review__stars {
  height: 14px;
}

/*СТИЛИ FAQ*/
.faq {
  color: #1C1C21;
  font-family: "Muller";
  font-style: normal;
  padding-bottom: 130px;
}
@media (max-width: 576px) {
  .faq {
    padding-bottom: 60px;
  }
}
.faq__title {
  padding-left: 100px;
  padding-top: 138px;
  padding-bottom: 35px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 135%;
}
@media (max-width: 991px) {
  .faq__title {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .faq__title {
    font-size: 28px;
    padding-top: 60px;
  }
}

.faq-content ul {
  list-style-type: none;
  padding: 0;
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 991px) {
  .faq-content ul {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.faq-title {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  cursor: pointer;
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 135%;
  color: #1C1C21;
}
@media (max-width: 991px) {
  .faq-title {
    align-items: center;
  }
}
.faq-title p {
  width: 92%;
  margin: 0;
  padding-left: 40px;
}

.faq-content-li {
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
  padding: 30px 0;
}

.faq-content-text {
  max-width: 800px;
  padding-top: 26px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #1C1C21;
  opacity: 0.8;
  padding-left: 66px;
}

.faq-content-li:not(.active) .faq-content-text {
  display: none;
}

.faq-title svg {
  margin-top: 10px;
}

.faq-content-li.active .faq-title svg {
  fill: #900B7B;
  color: #900B7B;
  transform: rotate(45deg);
  transition: transform 0.6s ease-in-out;
}

.faq-content-li.active .faq-title {
  color: #900B7B;
}

.faq-title:hover {
  fill: #900B7B;
  color: #900B7B;
}

.faq-content-li:not(.active) .footer-submenu-ul {
  display: none;
}

/*СТИЛИ ФОРМА СВЯЗИ И КОНТАКТЫ*/
.call-back {
  background-image: url(" ../img/footer-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #1C1C21;
  font-family: "Muller";
  font-style: normal;
  padding-bottom: 265px;
}
.call-back:last-child {
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 991px) {
  .call-back:last-child {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.call-back__title {
  padding-left: 100px;
  padding-bottom: 35px;
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 135%;
}
@media (max-width: 991px) {
  .call-back__title {
    padding-left: 10px;
  }
}
@media (max-width: 576px) {
  .call-back__title {
    font-size: 28px;
  }
}
.call-back__subtitle {
  padding-right: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.8;
}
@media (max-width: 991px) {
  .call-back__subtitle {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.call-back__wrapper {
  padding-left: 100px;
  padding-right: 100px;
}
@media (max-width: 991px) {
  .call-back__wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.call-back__send-form {
  height: 566px;
  background: #F9F9F9;
  color: #1C1C21;
  font-family: "Muller";
  font-style: normal;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 76px;
}
@media (max-width: 576px) {
  .call-back__send-form {
    padding-top: 45px;
  }
}
.call-back__contacts {
  background: #EFEFEF;
  height: 566px;
  color: #1C1C21;
  font-family: "Muller";
  font-style: normal;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 76px;
}

.send-form__title {
  padding-bottom: 28px;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
}

.contacts__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
  padding-bottom: 63px;
}
.contacts-list {
  font-family: "Muller";
  font-style: normal;
  padding: 0;
  list-style: none;
  color: #1C1C21;
}
.contacts-list__text {
  padding-left: 10px;
}
.contacts-list__text b {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.8;
  padding-left: 23px;
}
.contacts-list__link {
  color: #1C1C21;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
}
.contacts-list__email {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  text-decoration: underline;
  color: #1C1C21;
}

.file-label:after {
  text-align: center;
  max-width: 370px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  width: 100%;
  height: calc(3.5em + 0.75rem);
  padding: 1.375rem 3.75rem;
  line-height: 1.5;
  color: #495057;
  content: "Прикрепить файл";
  background-color: #F9F9F9;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px dashed #DCDCDC;
}

.form-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.4rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  background-color: #F9F9F9;
}
.form-input-message {
  display: block;
  width: 100%;
  height: calc(1.5em + 4.75rem + 2px);
  padding: 1rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  background-color: #F9F9F9;
}

.button-group-slider {
  padding-left: 100px;
  display: flex;
}
@media (max-width: 991px) {
  .button-group-slider {
    display: none;
    display-padding-left: 10px;
    display-padding-right: 10px;
  }
}

.btn-call {
  background: #900B7B;
  width: 100%;
  padding: 1.375rem 6.75rem;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  position: relative;
}
.btn-call::after {
  content: url("../img/arrow-1.png");
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10%;
  top: 37%;
}
.btn-call__top {
  max-width: 330px;
  padding: 1.375rem 1.75rem;
}

.btn-slider-left {
  padding: 35px 65px;
  border: 1px solid #DCDCDC;
  background: transparent;
}

.arrow-2 div::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 4px;
  right: 10px;
  background-color: #DCDCDC;
  transform: rotate(45deg);
}

.arrow-2 div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: -4px;
  right: 10px;
  background-color: #DCDCDC;
  transform: rotate(-45deg);
}

.btn-slider-right {
  padding: 35px 55px;
  border: 1px solid #DCDCDC;
  background: transparent;
}

.arrow-1, .arrow-2 {
  cursor: pointer;
  position: relative;
  width: 0;
  height: 0;
  margin: 0;
}

.arrow-1, .arrow-2 div {
  position: relative;
  top: 0;
  width: 20px;
  height: 2px;
  background-color: #DCDCDC;
  left: 0;
  display: block;
}

.arrow-1 div::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: 4px;
  right: 0px;
  background-color: #DCDCDC;
  transform: rotate(-45deg);
}

.arrow-1 div::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  top: -4px;
  right: 0px;
  background-color: #DCDCDC;
  transform: rotate(45deg);
}

.arrow-1:hover {
  animation: arrow-1 1s linear infinite;
}

.tabs-block {
  background-color: #ffffff;
  padding-left: 100px;
}
@media (max-width: 991px) {
  .tabs-block {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tab-content {
  background-color: #ffffff;
}

@media (max-width: 576px) {
  .nav-tabs {
    justify-content: center;
  }
}

.nav-tabs a {
  color: #1C1C21;
  opacity: 0.8;
  font-size: 22px;
  font-weight: 400;
  padding: 25px 50px;
}
.nav-tabs .nav-link {
  margin-bottom: 0;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs .nav-link {
  border-bottom: 1px solid #A5B7C1;
}
.nav-tabs .nav-link:hover {
  color: #1C1C21;
  opacity: 1;
  border-bottom: 2px solid #B52B85;
}

.nav-tabs .nav-link.active {
  color: #1C1C21;
  opacity: 1;
  background-color: #ffffff;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #B52B85;
}

.nav-link.active path {
  fill: #BD3368;
}

.nav-tabs {
  border-bottom: none;
}

/* Слайдер */
.service .container {
  max-width: 1300px;
}

.specialist .container {
  max-width: 1300px;
}

.review .container {
  max-width: 1300px;
}

/* Ограничивающая оболочка */
.service .slick-list {
  max-width: 1160px;
  margin: auto;
  max-height: 1000px;
  overflow: hidden;
}

.specialist .slick-list {
  max-width: 1160px;
  margin: auto;
  max-height: 500px;
  overflow: hidden;
}

.slick-list {
  max-width: 1160px;
  max-height: 445px;
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slider1 {
  position: relative;
  min-width: 0;
  padding: 0 0;
}

/* Стрелки */
.slider1 .slick-arrow {
  position: absolute;
  bottom: -5%;
  z-index: 10;
  font-size: 0;
  padding: 35px 55px;
  border: 1px solid #DCDCDC;
  background: transparent;
}
@media (max-width: 991px) {
  .slider1 .slick-arrow {
    display: none;
  }
}

.slider {
  position: relative;
  min-width: 0;
  padding: 0 0;
}

/* Стрелки */
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 33px;
  height: 63px;
  border: none;
  margin: -33px 0 0 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 100px;
  background: url("../img/sl-arrow_l.svg") 50% 50% no-repeat;
}
@media (max-width: 991px) {
  .slick-arrow.slick-prev {
    display: none !important;
  }
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  left: 250px;
  background: url("../img/sl-arrow_r.svg") 50% 50% no-repeat;
}
@media (max-width: 991px) {
  .slick-arrow.slick-next {
    display: none !important;
  }
}

.slider1 .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.slider1 .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider1 .slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  background-color: #DCDCDC;
  border-radius: 50%;
  border: none;
}

.slider1 .slick-dots li.slick-active button {
  background-color: #900B7B;
}

.slider_cart {
  padding-bottom: 180px;
}
@media (max-width: 991px) {
  .slider_cart {
    padding-bottom: 50px;
  }
}

@media (min-width: 1400px) {
  .col-xxl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .new-select {
    font-size: 1.32vw;
  }
  .new-select:after {
    top: calc((100% - 1.32vw) / 2 + 0.44vw);
  }
  .form-check-label, .btn-buy {
    font-size: 1.32vw;
  }
}
@media (max-width: 991px) {
  .hero-block {
    flex-direction: column;
  }
  .button-main__transparently {
    margin-left: 0px;
    margin-top: 20px;
  }
  .insert-block {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  .new-select {
    font-size: 2.042vw;
  }
  .new-select:after {
    right: 21px;
    top: calc((100% - 2.042vw) / 2 + 0.6806666667vw);
  }
  .form-check-label, .btn-buy {
    font-size: 2.042vw;
  }
  .payment-details-content {
    padding-left: 0;
  }
  .new-select__item span {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .new-select {
    font-size: 2.042vw;
  }
  .new-select:after {
    top: calc((100% - 2.042vw) / 2 + 0.6806666667vw);
  }
  .form-check-label, .btn-buy {
    font-size: 2.042vw;
  }
}
@media (max-width: 576px) {
  .new-select {
    font-size: 3.042vw;
  }
  .new-select:after {
    top: calc((100% - 3.042vw) / 2 + 1.014vw);
  }
  .form-check-label, .btn-buy {
    font-size: 3.042vw;
  }
}